<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <title>Webshop</title>
</head>

<body bgcolor="#ebebeb">

        <h1 style="color:#e60000;" align="center">Webshop 🛒</h1>

        <h3 align="center">Behavioral Targeting</h3>
        <table style="table-layout: fixed; width: 100%; height: 3cm; background-color: #e60000;">
                <tr style="border: none;">
                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #e60000; border: none;"
                                        onclick="window.location.href='/time'"> 🕔<br />Time trigger </button></td>

                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #e60000;border: none;"
                                        onclick="window.location.href='/product'">📱<br />Termék megtekintése</button>
                        </td>

                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #e60000; border: none;;"
                                        onclick="window.location.href='/addtocart'"> 🛒<br />Termék kosárhoz
                                        adásának</button></td>

                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #e60000;border: none;"
                                        onclick="window.location.href='/cartvalue'">💰<br />Kosár tartalmának
                                        fizetése</button></td>

                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #e60000;border: none;"
                                        onclick="window.location.href='/error'">❎<br />Error</button></td>
                </tr>
        </table>



        <h3 align="center">Azure<h3>
                        <table style="table-layout: fixed; width: 100%; height: 3cm; background-color: #0078d4;">
                                <tr style="border: none;">
                                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color:#0078d4; border: none;"
                                                        onclick="window.location.href='/tobi'"> 🤖<br />Tobi</button>
                                        </td>

                                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #0078d4;border: none;"
                                                        onclick="window.location.href='/engagement'">🛠<br />Engagement
                                                        Controller</button></td>

                                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #0078d4; border: none;;"
                                                        onclick="window.location.href='/echo'"> 🤖<br />Echo
                                                        bot</button></td>

                                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #0078d4; border: none;;"
                                                        onclick="window.location.href='/auth'"> 🤖<br />Auth
                                                </button></td>

                                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #0078d4; border: none;;"
                                                        onclick="window.location.href='/noauth'"> 🤖<br />No Auth
                                                </button></td>
                                </tr>
                        </table>
                        <br>
                        <h3 align="center">Test pages</h3>
                        <table style="table-layout: fixed; width: 100%; height: 3cm; background-color: #e60000;">
                                <tr style="border: none;">
                                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #e60000; border: none;"
                                                        onclick="window.location.href='/sim'"> 🕔<br />SIM </button>
                                        </td>

                                        <td><button style="color: aliceblue; width: 100%; height: 100%; background-color: #e60000;border: none;"
                                                        onclick="window.location.href='/data'">📱<br />DATA</button>
                                        </td>

                                </tr>
                        </table>
</body>

</html>