<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
</head>
<body bgcolor="#fff8dc">
<h1 align="center">Dummy Webshop 🛒</h1>
<br>
<h3>Termék megtekintése</h3>
<div align="center">
    <img src="https://www.vodafone.hu/documents/20124/306697/Oppo-A16s-Dual-SIM-64%40900000.png/c3c470e4-628e-2ab1-73db-72560f9bd248?t=1632486462968" alt="Oppo A16s 64GB" width="384" height="554">
    <button>Megnézem</button>
</div>
<br>
<h3>Termék kosárba helyezése</h3>
<button>Kosárba tesz</button>
<br>
<h3>Kosár tartalmának fizetése</h3>
<button>Fizetés</button>
<br>
</body>
</html>