<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Webshop</title>
</head>
<body bgcolor="#fff8dc">
<h1 align="center">Webshop 🛒</h1>
<h3>Behavioral Targeting</h3>
<button onclick="window.location.href='/time'">30 mp</button>
<br>
<button onclick="window.location.href='/product'">Termék megtekintése esetén</button>
<br>
<button onclick="window.location.href='/addtocart'">Termék kosárhoz adásának esetén</button>
<br>
<button onclick="window.location.href='/cartvalue'">Kosár tartalmának fizetése esetén</button>
<br>

</body>
</html>