<html>

<head>
</head>

<body style="background-image: url('static/img/DXC-ai.jpg');
       min-height: 80%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;">


    <table>
        <tr>
            <th>POC</th>
            <th>Zoltán</th>
            <th>Máté</th>
        </tr>
        <tr>
            <th>
                <iframe
                    src="https://webchat.botframework.com/embed/bot-openai-poc-001?s=twFcnW5UAeY.yQgJPJOuUYzutywv5odMtvIXZm6Wmw4xQyvH0t9vTpo"
                    style="height: 600px; width: 400px;">
                </iframe>
            </th>
            <th>
                <iframe
                    src="https://webchat.botframework.com/embed/bot-openai-zoltan?s=yjPGEXKsORI.3cek_VOXoB4rog6-AL1Emx-GFEf3BJUNH7Q8JvYTzkA"
                    style="height: 600px; width: 400px;"></iframe>
            </th>
            <th>
                <iframe
                    src="https://webchat.botframework.com/embed/bot-openai-mate?s=9qxpWWbGlus.HbfFWjc2OLAej_Eb8qZOkeUrmpJfk_CP8yWcpYemrqA"
                    style="height: 600px; width: 400px;"></iframe>
            </th>
        </tr>

    </table>

</body>

</html>