
<head>


</head>

<body style="background-image: url('static/img/virtus.PNG');
       min-height: 80%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;">


    <table>
        <tr>
            <iframe
                src="https://webchat.botframework.com/embed/bot-openai-poc-001?s=twFcnW5UAeY.yQgJPJOuUYzutywv5odMtvIXZm6Wmw4xQyvH0t9vTpo"
                style="height: 502px; max-height: 502px;"></iframe>
        </tr>

    </table>

</body>

</html>